/*Styling Selectbox*/
.dropdown {
  min-width: 3rem;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.5s ease;
  position: relative;
  color: #474747;
  height: 100%;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 600;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  min-width: 7rem;
  margin-top: 2px;
  box-shadow: 0px 4px 10px rgba(45, 47, 49, 0.19);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: block;
  overflow-y: auto;
  z-index: 9;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  padding-left: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu ul {
  margin-left: 100px;
}
.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.container {
  margin-bottom: 3rem;
}
.dropdown div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

.theme-pink {
  --radius: 2em;
  --baseFg: #c70062;
  --baseBg: #ffe3f1;
  --accentFg: #c70062;
  --accentBg: #ffaad4;
}

.theme-construction {
  --radius: 0;
  --baseFg: white;
  --baseBg: black;
  --accentFg: black;
  --accentBg: orange;
}
