.add-product-btn {
  height: 52px;
  width: 52px;
  background-color: var(--c-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: -26px;
}
.add-product-btn img {
  width: 24px;
  filter: brightness(1000%);
}

.btn-container {
  position: relative;
}
.add-product-btn:hover {
  transform: scale(1.15);
}

.product-box {
  width: 386px;
  height: 444px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 20px 0 0;
  position: relative;
}
.product-box:hover {
  box-shadow: 0px 4px 35px rgba(45, 47, 49, 0.19);
}
.img-container {
  width: 346px;
  height: 333px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-container img {
  height: 100%;
  /* object-fit: cover;
  object-position: top; */
  cursor: pointer;
}
.img-container img:hover {
  transition: 1s;
  transform: scale(1.1);
}
.product-name {
  margin-bottom: 5px;
}
.name-and-price {
  font-size: 18px;
  margin: 24px 0 0 0;
}
.product-price {
  font-weight: 600;
}

.out-of-stock {
  position: absolute;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  z-index: 1;
  cursor: default;
}
.not-in-stock {
  opacity: 0.5;
}
