.buttons-container {
  display: flex;
  margin-left: 6rem;
}

.button {
  min-width: 5rem;
  font-size: 1rem;
  padding: 31px;
  border: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover, .selected {
  /* background-color: #5ECE7B; */
  color: var(--c-primary);
  cursor: pointer;
  border-bottom: 2px solid var(--c-primary);
  font-weight: bold;
}