@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

:root {
  --c-primary: #5ece7b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.products-container {
  display: flex;
  margin: 0px 100px 200px 100px;
  flex-wrap: wrap;
}

.category-name {
  font-size: 42px;
  display: inline;
  flex: 0 0 100%;
  text-transform: capitalize;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .box {
  display: flex;
}

.header .box .cart {
  margin-right: 9rem;
}

@media (max-width: 768px) {
  .products-container {
    flex-direction: column;
  }
}
