@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

li {
  list-style: none;
}

:root {
  --c-primary: #5ece7b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.products-container {
  display: flex;
  margin: 0px 100px 200px 100px;
  flex-wrap: wrap;
}

.category-name {
  font-size: 42px;
  display: inline;
  flex: 0 0 100%;
  text-transform: capitalize;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .box {
  display: flex;
}

.header .box .cart {
  margin-right: 9rem;
}

@media (max-width: 768px) {
  .products-container {
    flex-direction: column;
  }
}

.pdp-container {
  min-width: 1100px;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.pdp-gallery-img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.pdp-gallery-img-container img {
  margin-bottom: 1rem;
  max-width: 5.5rem;
}
.pdp-gallery-img-container img:hover {
  box-shadow: 0px 0px 30px rgba(45, 47, 49, 0.19);
  cursor: pointer;
}

.big-image img {
  max-width: 611px;
}

.description {
  min-width: 18.25rem;
}

.description .brand {
  font-size: 30px;
  font-weight: 600;
}

.description .name {
  font-size: 30px;
  font-weight: 400;
  margin-top: 1rem;
}

.description .product-description {
  font-size: 1rem;
  max-width: fit-content;
  line-height: 1.6rem;
  font-weight: 400;
}
.description .price {
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0;
}
.attribute-label {
  margin: 2rem 0 5px 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.add-button {
  width: 100%;
  background-color: var(--c-primary);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 20px;
  padding: 1rem 2rem;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}
.add-button:hover {
  box-shadow: 0px 0px 1rem rgba(45, 47, 49, 0.19);
}
.attribute-values-container {
  display: flex;
  align-items: center;
}
.attribute-values-container .selector {
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  padding: 14px;
  background-color: white;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  min-width: 4rem;
  min-height: 2.8rem;
}
